.additional {
  &__giftb {
    position: relative;
    padding: 145px 0 150px 0;
    background-image: url("../../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 320px;
  }
}
