.bg {
  &__smallchick {
    background-image: url("../../img/chicken-small-mobile@1x.jpg");
  }

  &__bigchick {
    background-image: url("../../img/chicken-big-mobile@1x.jpg");
  }

  &__smallfish {
    background-image: url("../../img/fish-small-mobile@1x.jpg");
  }

  &__bigfish {
    background-image: url("../../img/fish-big-mobile@1x.jpg");
  }

  &__smallbuck {
    background-image: url("../../img/buckwheat-small-mobile@1x.jpg");
  }

  &__bigbuck {
    background-image: url("../../img/buckwheat-big-mobile@1x.jpg");
  }

  &__smallrice {
    background-image: url("../../img/rice-small-mobile@1x.jpg");
  }
}
