.button {
  display: inline-block;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 18px;
}
