.button {
  display: inline-block;
  background-color: $basic_green;
  color: $significant;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
}
