.catalog {
  max-width: 320px;
  margin: 0 auto;

  &__hero {
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 34px;
    line-height: 36px;
  }

  &__sect {
    border-bottom: 1px solid #ebebeb;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    min-width: 280px;
    text-align: center;
  }

  &__order {
    width: 100%;
    max-width: 300px;
    padding: 7px 44px;
    margin-bottom: 22px;
    background-color: $backgr-img;
    color: $significant;
  }

  &__wrap {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    display: block;
    width: 68px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 68px 86px;
  }

  &__product {
    color: $product-head;
    font-family: $font-oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
  }

  &__table {
    text-align: left;
  }

  &__row {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
  }

  &__show {
    padding: 20px 94px;
    background-color: $features-clr;
    color: $text-color;
    font-size: 16px;
    line-height: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    max-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    max-width: 1220px;
  }
}
