.contact {
  display: flex;
  line-height: 20px;

  &__invite {
    color: #111111;
    font-family: $font-oswald;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .contact {
    justify-content: space-between;

    &__item {
      max-width: 171px;
      width: 100%;
    }
  }
}
