.example {
  background-color: #eaeaea;

  &__cover {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 27px;
  }

  &__head {
    margin-bottom: 33px;
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    margin-bottom: 25px;
  }

  // &__wrap {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__subwrap {
    display: flex;
    justify-content: space-between;
  }

  &__result {
    display: block;
    text-align: center;
  }

  &__numb {
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 24px;
    line-height: 24px;
  }

  &__desc {
    font-size: 12px;
    line-height: 12px;
  }

  &__expenses {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-oswald;
    text-transform: uppercase;
    text-align: center;
    color: $h-a-color;
  }

  &__transform {
    text-align: center;
  }
}
