.example {
  background-color: #eaeaea;

  &__cover {
    padding-top: 27px;
  }

  &__head {
    margin-bottom: 33px;
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    margin-bottom: 25px;
  }

  &__subwrap {
    display: flex;
    justify-content: space-between;
  }

  &__result {
    display: block;
    text-align: center;
  }

  &__numb {
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 24px;
    line-height: 24px;
  }

  &__expenses {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-oswald;
    text-transform: uppercase;
    text-align: center;
    color: $h-a-color;
  }

  &__transform {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .example {
    &__cover {
      background-color: $significant;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;

    &__description,
    &__wrap {
      background-color: #eaeaea;
    }
  }
}
