.example {
  &__head {
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 36px;
    line-height: 40px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__result {
    display: block;
    text-align: center;
  }

  &__numb {
    color: $h-a-color;
    font-family: $font-oswald;
    font-size: 24px;
    line-height: 24px;
  }

  &__desc {
    font-size: 12px;
    line-height: 12px;
  }
}
