.footer {
  display: flex;
  flex-direction: column;
  background-color: $features_clr;

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__social {
    display: flex;
    justify-content: space-around;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
  }
}
