.main-nav {
  $block: &;
  padding-top: 8px;
  padding-bottom: 9px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    position: relative;
    display: block;
    width: 24px;
    height: 20px;
  }

  &__toggle::before,
  &__toggle::after {
    position: absolute;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $h-a-color;
  }

  &__toggle::before {
    top: 3px;
  }

  &__toggle::after {
    bottom: 1px;
  }

  &__span {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $h-a-color;
  }

  &__menu {
    display: none;
  }

  &--active {
    #{$block}__menu {
      display: block;
    }
  }

  &__list {
    font-family: $font-oswald;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    color: $h-a-color;
  }
}
