.nav {
  $block: &;
  padding-top: 8px;
  padding-bottom: 9px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    display: block;
    width: 200px;
    height: 38px;
    background-image: url("../../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__toggle {
    position: relative;
    display: block;
    width: 24px;
    height: 20px;
  }

  &__toggle::before,
  &__toggle::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $h-a-color;
  }

  &__toggle::before {
    top: 3px;
  }

  &__toggle::after {
    bottom: 1px;
  }

  &__span {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $h-a-color;
  }

  &__menu {
    display: none;
  }

  &--active {
    #{$block}__menu {
      display: block;
    }
  }

  &__list {
    font-family: $font-oswald;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    color: $h-a-color;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &__toggle {
      display: none;
    }

    &__menu {
      display: block;
      flex-grow: 2;
    }

    &__list {
      display: flex;
      justify-content: space-around;
    }

    &__img {
      height: 78px;
      background-image: url("../../img/logo-tablet.svg");
    }

    &__link {
      text-transform: uppercase;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    padding-left: 110px;
    padding-right: 80px;

    &__img {
      height: 57px;
      background-image: url("../../img/logo-desktop.svg");
    }

    &__list {
      padding-left: 530px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
