$font-oswald: "Oswald", "Tahoma", sans-serif;

$backgr-img: #68b738;
$features-clr: #f2f2f2;
$text-color: #444444;
$product-head: #222222;
$h-a-color: #000000;
$status-eror: #ff8282;
$button-hover: #5eaa2f;
$significant: #ffffff;
$social: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;

body {
  max-width: 1440px;
  min-width: 320px;
  color: #444444;
  background: $significant;
  font-family: "Arial", "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
