$font-oswald: "Oswald", "Tahoma", sans-serif;

$backgr_img: #68b738;
$features_clr: #f2f2f2;
$text-color: #444444;
$product_head: #222222;
$h_a_color: #000000;
$status_eror: #ff8282;
$button_hover: #5eaa2f;
$significant: #ffffff;

body {
  font-family: "Arial", "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: #444444;
  background: $significant;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
