.catalog {
  &__hero {
    font-family: $oswald;
    font-size: 34px;
    line-height: 36px;
    color: $black;
  }
  &__order {
    width: 100%;
    max-width: 300px;
    padding: 7px 44px;
    margin-bottom: 22px;
  }

  &__wrap {
    display: flex;
  }

  &__product {
    font-family: $oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $dark_grey-2;
  }

  &__row {
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
  }
}
